<main class="dashboard-main">
  <%= render 'sidebar.erb' %>
  <section class="dashboard-section">
    <header>
      <p class="page-title">Dashboard</p>
    </header>
    <div class="main">
      <div class="row-one">
        <div class="col-left">
          <div class="info-employees">
            <p class="card-title">Employees</p>
            <p class="card-percent">  <%= @percentPresent %>%</p>
            <p class="card-info">of the employees are working today</p>
          </div>
          <div class="access-crud">
            <div class="link-manage">
              <p>Manage</p>
              <a href="/branches">Branch Offices</a>
            </div>
            <div class="link-manage">
              <p>Manage</p>
              <a href="/employees">Employees</a>
            </div>
          </div>
        </div>
        <div class="col-right">
          <div class="date">
            <p id="date">o</p>
          </div>
          <div class="clock-container">
            <div class="clock-inside">
              <div class="minutes"></div>
              <div class="hours"></div>
            </div>
          </div>
          <div class="hour">
            <p id="hour">00:00:00</p>
          </div>
        </div>
      </div>
      <div class="row-two">
        <div class="link-reports">
          <p>View report</p>
          <a href="/attDay">Attendance by day</a>
        </div>
        <div class="link-reports">
          <p>View report</p>
          <a href="/AvgCheck">Check IN/OUT average</a>
        </div>
        <div class="link-reports">
          <p>View report</p>
          <a href="/absences">Absences</a>
        </div>
      </div>
  </section>
</main>
<script src="https://kit.fontawesome.com/e753149fdd.js" crossorigin="anonymous"></script>
<%= javascript_pack_tag 'homepage' %>
<%= javascript_pack_tag 'analogic' %>

