@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

$button-success: #2181B7;
$button-danger: #FF0000;

$color-primary: #000126;
$color-secondary: #2A2B4A;
$color-secondary-light: #62637A;

$bg-color: #1B203D;
$font-color-primary: #FFFFFF; 
$font-color-secondary: #62637A;

$poppins: 'Poppins', sans-serif;
$test-boder: 1px solid black;

$box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
